.fondo{
    background: #24303c;
}
.btn{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
.btn:hover{
    background: #334f8d;
    color: #f3f3f3;

}

.form{
    width: 450px;
    background: #24303c;
    padding: 31px;
    margin-left: 200px;
    margin-top: 100px;
    border-radius: 4px;
    border: 2px solid #1f53c5;
    font-family: 'calibri';
    color: white;
}

.label{
    margin-right:10px;
    margin-top: 15px;
	width:72px;
    font-size:20px;
	font-weight:bold;
	display:inline-block;
}


.input{
    width: 100%;
    background: #24303c;
    padding: 3px 10px;
    border-radius: 3px;
    margin: 8px 0;
    margin-bottom: 16px;
    border: 2px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    display:inline-block;
    color: white;
}

.grl{
    display:flex;
}

.img{
    margin-top: -900px;
    margin-right: -800px;
    width: 600px;
    height: 800px;
}


@media (max-width: 740px){
    .img{
        display: none;
    }
    .form{
        /* padding: 31px; */
        width: auto;
        margin: auto;
        border: none;
        margin-top: 5px;
        margin-right: 20px;
    }
    .grl{
        display:contents;
    }
}